@font-face {
    font-family: "PolySans";
    src: url("/Font/PolySans.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: "PolySans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1A1A1A;
    background-color: #F0F0F0;
}

.dark-mode {
    background-color: #1A1A1A;
    color: #F0F0F0;
}


/**************** HEADER ******************/

header {
    padding: 40px 75px 10px 75px;
    display: flex;
    justify-content: space-between;
}

header img, footer img {
    width: 399px;
    height: 123px;
}


/******************* NAV ********************/

nav {
    display: flex;
    flex-direction: row;
    width: 500px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-family: "Orbitron";
    font-size: 1rem;
    font-weight: 500;
    color: #1A1A1A;
    padding-right: 60px;
}

nav a {
    color: #1A1A1A;
}

a.nav-link.nav-dark-mode {
    color: #F0F0F0;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline 4px solid #FF004C;
    font-weight: 600;
}

nav ul li a:visited {
    color: #1A1A1A;
}


/******** LIGHT/DARK MODE TOGGLE SWITCH *********/

.switchMode {
    display: none;
}

#switchModeIcon {
    height: 50px;
    border-radius: 50px;
    background-color: #1A1A1A;
    z-index: 0;
}

#switchModeIcon img {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#switchModeIcon img:first-of-type {
    z-index: 2;
}

#switchModeIcon img:last-of-type {
    z-index: 1;
    position: absolute;
    right: 75px;
}

#switchModeIcon img:hover {
    border: 2px solid gray;
    padding: 8px;
}

#lightDarkMode:checked + #switchModeIcon {
    background-color: #F0F0F0;
}


/****** HEADER *******/

h1 {
    margin-top: 65px;
    margin-bottom: 0;
    padding-left: 75px;
    font-family: "Orbitron";
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}



/************** HERO SECTION ********************/

#hero {
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 675px;
}

#hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/************** ABOUT SECTION *****************/

#about {
    column-count: 2;
    /* column-gap: 50px; */
}

#about img {
    width: 640px;
    height: 923px;
}

#aboutDescription {
    padding: 150px 125px 0 125px;
}

#about h2 {
    font-family: "Orbitron";
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0;
    text-decoration: underline 6px solid #FF004C;
}
#about p:first-of-type {
    padding-top: 2rem;
}

#about p:last-of-type {
    padding-top: 1.5rem;
}

#about p {
    line-height: 2rem;
    text-align: justify;
}

.bullrun-brewery {
    font-family: "Orbitron";
    font-weight: 800;
    text-transform: uppercase;
}

/************* FAVORITE BREWS *************/

#favorites {
    width: 1280px;
    padding: 2.5rem 0rem 2.5rem 0rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;
    text-align: center;
    overflow-x: scroll;
}

#favorites img {
    width: 310px;
    grid-column: 1 / span 1;
}

.brew {
    text-align: left;
    font-family: 'PolySans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    padding: 150px 10px 0 10px;
}

.brew:last-of-type {
    padding-right: 75px;
}

#favorites h2 {
    text-align: center;
    font-family: "Orbitron";
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: underline 6px solid #FF004C;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0;
    /* grid-row: 1;
    grid-column: 1 / span 4; */
    position: absolute;
    right: 400px;
}

#favorites h3 {
    font-size: 1.5rem;
    font-family: "Orbitron";
    text-transform: uppercase;
}

#favorites::-webkit-scrollbar {
    width: 15px;
    padding-bottom: 20px;
}

#favorites::-webkit-scrollbar-track {
    background: #585858;
    box-shadow: inset 0 0 15px #000;
}

#favorites::-webkit-scrollbar-thumb {
    background: #61001d;
    box-shadow: inset 0 10px 25px #FF004C;
    border-radius: 30px;
}

#favorites::-webkit-scrollbar-thumb:hover {
    background: #FF004C;
    box-shadow: inset 0 10px 10px #fd477d;
    cursor: pointer;
}


/************* PRODUCT DISPLAY SECTION **************/


/*************** PRODUCTS ****************/

#products {
    display: grid;
    width: 1280px;
    grid-template-columns: 3fr 3fr 3fr 2fr 2fr;
    /* grid-template-rows: 285px, repeat(10, 375px); */
}

#products h2 {
    text-align: center;
    font-family: "Orbitron";
    font-size: 2.5rem;
    font-weight: 500;
    color: #F0F0F0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: linear-gradient(#FF004C, #F0F0F0);
    grid-column: 1 / 6;
    height: 100px;
}

#products h2.dark-bg {
    background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.product-type {
    padding-left: 75px;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-type#apparel {
    grid-row-start: 2;
}

#products h3 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 15px;
}

.item {
    width: 400px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.item h4 {
    font-size: 1.125rem;
    width: fit-content;
    padding-left: 15px;
    margin-bottom: 0;
    position: relative;
    bottom: -418px;
}

.item img {
    z-index: 1;
    width: 375px;
    height: 375px;
    margin: 0 auto;
    justify-self: center;
}

.item p {
    font-size: 0.78rem;
    padding: 10px 10px 15px 5px;
    margin: 0px 10px 20px 10px;
}

.item .price {
    font-size: 1.125rem;
    width: fit-content;
    margin-bottom: 0;
    position: relative;
    left: 325px;
    top: 11px;
}

.sizes {
    padding-left: 7px;
    margin: 5px;
}

.size-checkbox {
    display: none;
}

.size-label {
    display: inline-block;
    margin: 0;
    padding: 6px 11px;
    border: 1.5px solid #FF004C;
    color: #FF004C;
    border-radius: 20px;
    background-color: #F0F0F0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-bg-button {
    color: #F0F0F0;
    border: 1.5px solid #F0F0F0;
    background-color: #1A1A1A;
}

.size-label:hover {
    border: 2.5px solid #FF004C;
    padding: 5px 10px;
}

.size-checkbox:checked + .size-label {
    background-color: #FF004C;
    color: #f0f0f0;
    border-color: #FF004C;
}

.size-label:nth-of-type(2) {
    padding: 6px 9px;
}

.size-label:nth-of-type(2):hover {
    padding: 5px 8px;
}

.size-label:nth-of-type(4) {
    padding: 6.5px 6.5px;
}

.size-label:nth-of-type(4):hover {
    padding: 5.5px 5.5px;
}

.size-label:nth-of-type(5) {
    font-size: .9rem;
    padding: 8.5px 5.5px;
}

.size-label:nth-of-type(5):hover {
    padding: 7.5px 4.5px;
}

.size-checkbox.disabled {
    background-color: #9D9D9D;
    color: white;
    border: white;
}

.add-to-cart {
    background-color: #01B09B;
    padding: 15px 10px;
    color: #F0F0F0;
    border: none;
    border-radius: 5px;
    width: 125px;
    position: relative;
    left: 260px;
    bottom: 45px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: rgb(0, 141, 127);
}

.add-to-cart:active {
    box-shadow: inset 3px 3px rgb(0, 60, 54, 20%)
}

#drinkware .add-to-cart, #accessories .add-to-cart {
    position: relative;
    top: 25px;
}

#drinkware p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

#accessories {
    padding-top: 50px;
    padding-bottom: 100px;
}

#accessories h3 {
    padding-top: 20px;
}

#drinkware3, #accessories3 {
    padding-top: 70px;
}

#cheersVideo {
    width: 100%;
    object-fit: cover;
}

/************ SHOPPING CART *************/

#shoppingCart {
    grid-column: 4 / 6;
    grid-row-start: 2;
    padding: 0px 30px 0px 10px;
    height: 1fr;
    float: right;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
}

#shoppingCart p {
    font-size: 0.9rem;
    padding-left: 20px;
}

#shoppingCart hr {
    margin: 0;
    color: gray;
    border-style: inset;
    border-width: 1px;
}

.strong {
    font-weight: bolder;
    text-transform: uppercase;
}

div.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

div.item p {
    margin: 0; 
    padding-bottom: 10px;
}

.items-added, .price {
    justify-self: flex-start;
    align-items: left;
}

.items-added.item-price {
    justify-self: flex-end;
}

div.price, div.price.taxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

span.small {
    font-size: 0.75rem;
    font-style: italic;
}

p#subtotal, p#taxes, p#total {
    margin-right: 10px;
}

div.cart-buttons {
    padding: 20px 10px;
    margin: 0 auto;
}

button#cartReset, button#cartSubmit {
    font-family: "PolySans";
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    color: white;
}

button#cartReset {
    padding: 10px 15px;
    background-color: grey;
}

button#cartSubmit {
    padding: 10px 45px;
    background-color: #ff004c;
}

div.item.not-empty {
    display: none;
}


/******* CONTACT FORM **********/

#contact {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

#contact h2 {
    text-align: center;
    padding: 50px 0 25px 0;
    font-family: "Orbitron";
    font-weight: 500;
    font-size: 2.5rem;
    text-decoration: underline 6px solid #FF004C;
}

#contact p {
    font-size: 1.67rem;
    line-height: 150%;
    text-align: center;
    padding: 0 100px;
}

#contact form {
    padding-top: 40px;
    padding-left: 60px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#contact form label {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 1rem;
}

#contact fieldset {
    border: none;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    display: block;
}

#contact fieldset legend {
    font-size: 1rem;
    padding-bottom: 10px;
}

form.radio-label {
    font-size: 0.75rem;
    padding-left: 10px;
}

input[type="radio"] {
    cursor: pointer;
}

#first, #last, #email, #phone {
    width: 300px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#contact textarea {
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: "PolySans";
}

#formButtons {
    display: inline-block;
    margin: 0 auto;
    padding-top: 30px;
}

#clearForm {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #F0F0F0;
    width: 200px;
    background-color: #9D9D9D;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clearForm:hover {
    background-color: #585858;
}

#clearForm:active {
    box-shadow: inset 3px 3px rgba(28, 28, 28, 0.2)

}

#submit {
    background-color: #01B09B;
    border: none;
    border-radius: 5px;
    color: #F0F0F0;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: rgb(0, 141, 127);
}

#submit.active {
    box-shadow: inset 3px 3px rgb(0, 60, 54, 20%)
}

/**************** BACK TO TOP BUTTON ***************/
button#backToTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 2;
    background-color: rgba(28, 28, 28, 0.2);
    border: none;
    padding: 15px 15px 15px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    transition: background-color 0.3s;
    cursor: pointer;

    color: #FFFFFF;
    font-family: "PolySans";
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
}

button#backToTop:hover {
    background-color: rgba(28, 28, 28, 0.5);
}

button#backToTop img {
    position: relative;
    top: 2px;
    left: 10px;
}



/************************ FOOTER *******************/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1A1A1A;
    height: 180px;
    padding: 30px 75px;
}

.social-media-icons {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
}

.social-media-icons li {
    list-style: none;
}

.social-media-icons img {
    height: 40px;
    width: fit-content; 
    padding: 15px;
}

ul.footer-nav {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    margin-top: 35px;
}

ul.footer-nav li {
    list-style: none;
    padding: 10px 10px;
}

ul.footer-nav li a {
    color: #F0F0F0;
    text-decoration: none;
    font-size: 1rem;
}

div#copyright {
    display: flex;
    width: 1280px;
    margin-left: 115px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 0.7rem;
    color: #f0f0f0;
}

div#copyright p {
    padding: 10px;
}